.add-travel-container {
    max-width: 600px;
    margin: 50px auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-travel-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .add-travel-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-travel-form input,
  .add-travel-form select,
  .add-travel-form textarea,
  .add-travel-form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }

  input {
    margin-left: 0px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    align-content: flex-end;
    align-items: end;
    width: 95%;
    max-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }

  .add-travel-form textarea {
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    height: 100px;
  }
  
  .add-travel-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .add-travel-form button:hover {
    background-color: #45a049;
  }
  
  .add-travel-form label{
    text-align: left;
  }

  