.sidebar {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 220px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar img{
    padding-top: 20px;
    padding-left: 10px;
  }
  
  .nav-link {

    display: flex;
    color: black;
    text-decoration: none;
  }


  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .nav-link:hover:not(.active) {
    background-color: #f1f1f1;
    color: #ff8000;
  }

  .main-panel a img {
    width: 100px;              
    height: 100px;             
    border-radius: 100%;       
    object-fit: cover;         
    position: absolute;        
    top: 20px;                
    right: 20px;              
    border: 2px solid #fff;    
    cursor: pointer;           
  }
  

  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }